<%= form_with(model: [users,tweets,images], url: user_tweet_images_path, local: true) do |form| %>
  <% if images.errors.any? %>
    <div>
      <h2><%= pluralize(images.errors.count, "error" ) %>prohibited this photo from being saved:</h2>
      <ul>
        <%= images.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class = "field">
    <%= form.label :image %>
    <%= form.file_field :image, :multiple => true %>
  </div>

  <div>
    <%= form.submit %>
  </div>

<% end %>