<li id = "timeline_content" >
  <%= render partial: "icon", locals: {t: t} %><%= link_to "#{t.user.name}", user_path(t.user.id) %>  :<%= t.created_at %><br/>
  <%= t.text %><br/>
  <% t.images.each do |image| %>
    <%= image_tag image.image_url, :size => '200x200' %>
  <% end %><br/>
  <%= link_to "tweet詳細", user_tweet_path(t.user.id, t.id)%>
  <%= link_to "reply", new_user_tweet_reply_path(current_user.id, t) %>
  <%= "♡#{ t.favs.count }" %>
  <% if f = Tweet.has_fav(t.id, current_user.id) %>
    <%= link_to "like解除", user_tweet_fav_path(current_user.id, t, f), method: :delete %>
  <% else %>
    <%= link_to "like", user_tweet_favs_path(current_user.id, t), method: :post %>
  <% end %>
  <% if t.user_id == current_user.id %>
    <%= link_to "x", user_tweet_path(current_user.id, t), method: :delete, data: {confirm: "Are you sure?"} %>
  <% end %>
<%# replyがある場合replyを表示する %>
  <ul>
    <% t.replies.each do |r| %>
      <%# reply.tweet.user_idがcurrent_userの時公開範囲関係なし %>
      <% if enable_to_see?(r.tweet,current_user) then next end %>
      <%= render partial: "reply", locals: {r: r, t: t} %>
    <% end %>
  </ul>
</li>


