<%= "現在のuser確認用: #{current_user.name}"%>
<h1>Timeline</h1>
<%= link_to "mypage", user_path(current_user.id) %><br/>
<%= link_to "log out", destroy_user_session_path, method: :delete %><br/>
<%= link_to "User検索", users_search_path %>
<ul>
  <% @tweets.each do |t| %>
    <% if current_user.id == t.user_id %>
      <%# 公開範囲に関係なく全てのツイートを取ってくる %>
      <% if Tweet.is_reply?(t.id) then next end %>
      <%= render partial: "timeline", locals: {t: t, replies: @replies}%>
    <% else %>
      <%# praivacy_status=3[自分のみに公開]のtを表示しない>>t.privacy_status[3]の時skipさせる %>
      <% if t.privacy_status == 3 then next end %>
      <% if Tweet.is_reply?(t.id) then next end %>
      <%= render partial: "timeline", locals: {t: t, replies: @replies}%>
    <% end %>
  <% end %>
</ul>
